// COLORS
$primary-color: #dd2e3d;
$secondary-color: #2678d6;

$dark-color: #232323;

$light-color: #ffff;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
